body {
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
}

.fa {
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: $black;

    &:active {
        color: $black;
    }

    &:hover {
        color: $wheat;
    }
}
