// fonts
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('https://fonts.googleapis.com/css?family=Oswald');

// variables
$wheat: wheat;
$black: black;
$white: white;
$robbinBlue: #00BCD4;
$mainRGBA: rgba(21, 1, 8, 0.57);
$gallery: #EDEDED;
$persimmon: #FF7052;
$secondaryRGBA: rgba(0, 0, 0, 0.21);
$lightBlue: lightblue;
