.friend-preview {
    border-bottom: 2px solid lightblue;
    flex: none;
    margin: 10px 10px 70px;
    padding-bottom: 15px;
    text-align: center;

    img {
        display:block;
        object-fit: cover;
        object-position: top;
        max-height: 150px;
        margin: 0 auto;
        width: 145px;
    }
    h2 {
        font: 2rem/2 'Griffy', sans-serif;
        padding-top: 20px;
    }
    p {
    text-align: left;
    }
}
