nav {
    margin: 0 auto;

    ul {
        display: flex;
    }

    li {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
        padding-right: 60px;

        a:hover {
            color: $wheat;
        }
    }
}

#hero {
    text-align: center;
    min-height: 250px;
    background: url('http://www.juniorconsulting.be/img/bg_about.jpg');
    background-size: cover;
    min-width: 100%;
    margin-bottom: 10px;
    position: relative;

    p {
        margin-top: 157px;
        font-family: monospace;
        font-size: 19px;
    }
}

#hero,
section {
    padding: 10px;
}
