.songs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.song-preview {
    border-bottom: 2px solid lightblue;
    flex: none;
    margin: 10px 10px 70px;
    padding-bottom: 50px;
    text-align: center;
    width: 300px;

    img {
        display: block;
        object-fit: cover;
        object-position: top;
        max-height: 150px;
        margin: 0 auto;
        width: 250px;
    }

    h2 {
        font: 2rem/2 'Griffy', sans-serif;
        padding: 20px;
    }

    p {
        margin: 0 0 5px 80px;
        text-align: left;
    }
}

i.fa.fa-music.ng-binding::before {
    padding-right: 10px;
}

i.fa.fa-info-circle::before {
    padding-right: 10px;
}

table {
    margin-top: 20px;
    background: $mainRGBA;
    border: 1px dashed #e9e7e7;

    th {
        font-size: 25px;
        background-color: $white;
        cursor: pointer;
        font-family: 'Griffy', sans-serif;

        &:hover {
            color: lightblue;
        }
    }

    td {
        text-align: center;
        font-family: monospace;
    }
}

tr.td-list {
    &:nth-child(even) {
        background: $wheat;
    }

    &:nth-child(odd) {
        background-color: $white;
    }
    height: 34px;
    border-bottom: 3px solid lightblue;
}

.song-inventory {
    margin: 0 auto;
    width: 100%;
}
