<div class="login-welcome">
    <h1>Welcome, {{login.getInfo()[0].userName}}!! You currently have {{friendsCtrl.allFriendsArray.length}} friends!</h1>

    <div class="songs-wrapper">
        <div ng-repeat="friend in friendsCtrl.allFriendsArray" class="friend-preview">
                <img src="{{friend.img_url}}" alt="{{friend.name}}" />
                <h2>{{song.artist}}</h2>
                <p><i class="fa fa-music">Likes: {{friend.song_likes}} songs</i></p>
        </div>
    </div>
</div>
