<div class="login-welcome">
    <h1>Welcome, {{login.getInfo()[0].userName}}!! You currently have {{friendsCtrl.allFriendsArray.length}} friends!</h1>

    <div ng-repeat="friend in friendsCtrl.allFriendsArray" class="friends-preview">
        <div class="top-friends-container">
            <div class="friends-wrapper">
                <div class="top-friends">
                    <img ng-src="{{friend.img_url}}" alt="">
                </div>
                <div class="friends-info">
                    <h2>{{friend.name}}</h2>
                    <p><i class="fa fa-music">Likes: {{friend.song_likes}} songs</i></p>
                </div>
            </div>
        </div>
    </div>
</div>
